.loginmodal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loginmodal {
  background: #575757a5;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.6px);
  -webkit-backdrop-filter: blur(2.6px);
  border: 1px solid rgba(255, 255, 255, 0.221);
  padding: 2rem;
  width: 320px;
  max-width: calc(100% - 2rem);
  display: block !important;
  color: #D8C9AE;
}

.loginmodal-form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.loginmodal-form input {
  padding: .5rem;
  border: 1px solid #575757;
  border-radius: 6px;
}

.loginmodal-form button {
  padding: .6rem;
  border: 0;
  border-radius: 6px;
  background: #575757;
  color: #D8C9AE;
  cursor: pointer;
  font-size: larger;
}

.loginmodal-form button:hover { 
  background: #D8C9AE;
  color: #575757; 
}

.loginmodal-form button.close-btn { 
  background: #D8C9AE !important;
  color: #575757;
}

.loginmodal-form button.close-btn:hover { 
  background: #575757 !important;
  color: #D8C9AE;
}

.loginmodal-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 8px;
}

.loginmodal-actions button {
  width: 100%;
}

.absatz {
    margin: 20px;
    border: 2px solid rgb(0, 0, 0);
    opacity: 0.8;
    width: 100%;
    margin-left: 0; 
}

