  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(111, 111, 113);
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 30px;
  }

  .navbar-items {
    display: flex;
    gap: 50px;
  }

  .navbar-items li {
    list-style: none;
    color: black;
  }

  .navbar-items li a {
    text-decoration: none;
    color: black;
  }

    .navbar-items li a:hover {
        text-decoration: none;
        color: thistle;
    }
