body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(145deg,rgba(216, 201, 174, 0.5) 45%, rgba(87, 87, 87, 0.5) 92%);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

:root {
  --page-bg: #eae3d3;
  --edge-fade: 80px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
